{% extends 'base.html' %}
{% load humanize %}

{% block main %}
<div class="welcome">
    <h1 class="title">microhr</h1>
    <p class="subtitle">最小限のコードで採用を！</p>
</div>
{% if works %}
<table class="table">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>会社名</th>
            <th>お給料</th>
        </tr>
    </thead>
    <tbody>
    {% for work in works %}
        <tr>
            <th><a href="{% url 'work_detail' work.id %}">{{ work.title }}</a></th>
            <th>{{ work.company.name }}</th>
            <th>{{ work.salary_min | intcomma}}万円~{{ work.salary_max | intcomma }}万円</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- 現状は手動で登録します -->
<h4>おすすめ求人</h4>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">だいこんがり</h5>
          <p class="card-text">みんなで仲良くだいこんがりをします。大根おろしのまかないがあります。</p>
          <a href="{% url 'work_detail' 15 %}" class="btn btn-primary">求人応募画面へ</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">にんじんがり</h5>
          <p class="card-text">お給料に加えて人参の支給もあります。ベータカロテン！！</p>
          <a href="{% url 'work_detail' 16 %}" class="btn btn-primary">求人応募画面へ</a>
        </div> 
      </div>
    </div>
  </div>
{% else %}
求人は登録されていません。
{% endif%}
{% endblock %}
