{% extends 'base.html' %}
{% block main %}
<h1>気になる一覧</h1>
{% for favoriteworker in favoriteworkers %}
    <p>ユーザー：<strong>{{ favoriteworker.worker }}</strong></p>
    <p>経歴:{{ favoriteworker.worker.workerprofile.resume }}</p>
    <p>PR文:{{ favoriteworker.worker.workerprofile.self_pr}}</p>
    <form method="post" action="{% url 'favoriteworker_delete' favoriteworker.id %}" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">気になるを削除する</button>
    </form>
{% endfor %}
{% endblock %}